*{
    margin: 0;
    padding: 0;
    border: 0px red solid;
    position: relative;
}

body{
    background: #00c6ff; 
    background: -webkit-linear-gradient(to right, #00c6ff, #0072ff);
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: white;
    font-size: 16px;
    height: 100vh;
    font-family: sans-serif;


}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.mainContent {
    h1{
        font-size: 2rem;
        padding: 2rem;
    }

    .mainContent__meteoEmoticon{
        font-size: 3rem;
        text-align: center;
        span{
            margin: 1rem;
        }
    }

    %city_input_template{
        border-radius: 10px;
        padding: 5px;
        padding-left: 10px;
        width: 250px;
    }

    .mainContent__inputSection{
        text-align: center;
        padding: 2rem;

        div{
            display: inline-block;
        }
        
        #city_input{
            @extend %city_input_template;
            margin-bottom: 10px;
        }
        
        #city_submit{
            color: white;
            background-color: #2ecc71;
            padding: 5px;
            width: 100px;
            border-radius: 5px;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover{
                transform: translateY(-2px);
                box-shadow: 1px 1px 1px rgba(0,0,0,.3);
            }
        }
    }
}

.mainContent__autocomplete{
    position: absolute;
    top: 100%;
    left: 0;
    // transform: translateX(50%);
    width: 100%;
    color: black;
    list-style-type: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 99;

    &--active{
        opacity: 1;
    }

    li{
        @extend %city_input_template;
        text-align: left;
        font-size: 0.6rem;
        background-color: white;
        cursor: pointer;
        transition: all 0.3s ease;
        @media screen and (max-width:768px){
            font-size: 1rem;
            padding: 10px;
        }

        &:hover{
            padding-left: 12px;
        }
    }    
}

.weatherResult{
    div {
        border: 1px solid white;
        border-radius: 5px;
        padding:10px;
    }
}


footer{
    position: absolute;
    bottom: 0px;
    right: 50%;
    transform: translateX(50%);
    a{
        text-decoration: none;
    }
    p{
        text-align: center;
        font-size: 0.6rem;
    }
}